alabaster==0.7.12
altgraph==0.17
Babel==2.8.0
certifi==2020.4.5.2
chardet==3.0.4
colorama==0.4.3
docutils==0.16
future==0.18.2
idna==2.9
imagesize==1.2.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.18.5
packaging==20.4
pefile==2019.4.18
Pillow==7.1.2
Pygments==2.6.1
PyInstaller==3.6
pyparsing==2.4.7
Pypubsub==4.0.3
pytz==2020.1
pywin32==227
pywin32-ctypes==0.2.0
requests==2.23.0
six==1.15.0
snowballstemmer==2.0.0
Sphinx==2.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
urllib3==1.25.9
winshell==0.6
wxPython==4.1.0
